<a href="https://colab.research.google.com/github/ppama/github-slideshow/blob/main/17B00099Lec1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Impressions about the Class

Using notebooks is very useful. 
I would like to know about using notebooks, such as how to use jupyter notebook.

Name: Pascal Bernardino Pama
Student ID: 17B00099

# Day 1
## Let's get started
* Please remember two short cut.
  * Ctrl-Enter (Push Ctrl key and Enter key simultaneously.): Execute command.
  * Shift-Enter (Push Shift key and Enter key simultaneously.): Make a new cell.
* Write the followings in a sell.
```
    print("Hello world.")
```
* And type Ctrl-Enter.
* You can see ```Hello world.```
* Type Shift-Enter and write
```
a = 4
b = 7
c = a + b
print(a, b, c)
```
* And type Ctrl-Enter.
* Rewrite the last line to 
```
print("{0} + {1} = {2}".format(a, b, c))
```
* And type Ctrl-Enter.

In [ ]:
# Make a program: Hello world
print("Hello world.")

Hello world.

In [ ]:
# Make a program: Calculation
a = 4
b = 7
c = a + b
print(a, b, c)

4 7 11

In [1]:
# Make a program: Print with format
a = 4
b = 7
c = a + b
print ("{0} + {1} = {2}".format(a,b,c))

4 + 7 = 11

# Introduction to Python
## Variables

Variables can contain a values, values with structure, and objects.

### Identifier
 * Name for a variable, a function, and a class.
 * Letters can be used for name of variable:
  * Alphabet (`a`, `b`, ..., `A`, `B`, ...): Lower and upper cases are distinguished.)
  * Numeral (`0`, `1`, `2`, ...) They cannot be used for the beginning.
  * `_`
  * Almost all of Unicode (`あ`, `ア`, `阿`, ...) Some of symbols are not allowed.
 * Example
  * <font color="green">Good</font>: `abc`, `_dAf_g`, `エビシ`, `阿`, `π`
  *<font color="orange">NG</font>: `3abc`, `$abc`, `阿。`, `３abc`
 * Keywords (Don't use as the name of variable.)
   ** `False`, `None`, `True`, `and`, 
`as`, `assert`, `break`, `class`, `continue`, 
`def`, `del`, `elif`, `else`, `except`, 
`finally`, `for`, `from`, `global`, `if`, 
`import`, `in`, `is`, `lambda`, `nonlocal`, 
`not`, `or`, `pass`, `raise`, `return`, 
`try`, `while`, `with`, `yield`
 * Reserved classes of identifiers: `_*`, `__*`, `__*__`, 

### Type of data
* Every data is handled as a object in Python.
* Integer and float are also objects.  

### Embedded types for numbers

* `bool`
* `int`
* `float`
* `complex`

### Embedded types for multiple data
* Immutable sequence 
 * `tuple`
 * `string`
 * `bytes`
* Mutable sequence 
 * `list`
 * `bytearray`
* Set 
 * `set`  (mutable)
 * `fronzenset` (immutable)
* Mapping
 * `dictionary`

In [2]:
エイビィシー = 3
print(エイビィシー)

3

## Literal
 
A literal expresses a concrete value.

### Numbers
* `bool` : `True`, `False`
* `int` : `123`, `-123`
* `float` : `2.5`, `-0.003`, `2.3e10`, `-2.553e-12`
* `complex` : `3.0+2.1j`, `-2.1e-2+3.2e3j`

### None
* `None`

### String

* `'This is a pen.'`
* `"This is a pen."`

### List
* `[1, 4, 2, 5, 1, -2]`
* `["This", "is", "a ", "pen"]`
* `[1, "This", -3.0, "a"]`

### Tuple
* `(1, 4, 2, 5, 1, -2)`
* `("This", "is", "a ", "pen")`
* `(1, "This", -3.0, "a")`

### Dictionary
* `{1:"Freshman", 2:"Sophomore", 3:"Junior", 4:"Senior"}`
* `{"Freshman":1, "Sophomore":2, "Junior":3, "Senior":4}`
* `{(3, 4):7, (2, 4):"ABC", ("ab", 3)":112, ("dd", "ss"):"32"}`

### Set
* `{1, 4, 2, 5, 1, -2}`
* `{"This", "is", "a ", "pen"}`
* `{1, "This", -3.0, "a"}`

## Operator
### Arithmetic operator

(Previlege Low $\rightarrow$ High) 

| Operator | meaning |
| ---- | ---- |
| `x + y` | |
| `x - y` | |
| `x * y` | |
| `x / y` | |
| `x // y` | | devision as integers|
| `x % y` | |
| `-x` | |
| `+x` | |
| `x ** y` | $x^y$ |

### Logical operator
(Previlege Low $\rightarrow$ High)

|Operator | meaning |
| ---- | ---- |
|`x or y` | logical |
|`x and y` | logical and |
|`not x` | negation |

### Bit operator
(Previlege Low $\rightarrow$ High)

| Operator | meaning |
| ---- | ---- |
|`\|` | logical or for each bit |
|`^` | exclusive or for each bit|
|`&` | and for each bit |
|`<<`, `>>`  | bit shift (left, right) |
|`~` | Negation |

### Comparison operator

| Operator | meaning |
| ---- | ---- |
| `x < y`   | |
| `x <= y`  | |
| `x > y`   | |
| `x >= y`  | |
| `x == y`  | |
| `x != y`  | |
| `x is y` | `x` and `y` are the same object.|
| `x is not y`  | |
| `x in y` | `x` is included in `y`.|
| `x not in y`  | |

### Membership operator

| Operator | meaning |
| ---- | ---- |
| `x in y` | `x` is included in `y`.|
| `x not in y` | |

### Equality operator

| Operator | meaning |
| ---- | ---- |
|`x is y` | `x` and `y` are the same object.|
|`x is not y` | |


### Cumulative assign operator
(Previlege Low $\rightarrow$ High) 

| Operator | meaning |
| ---- | ---- |
|  `x += y` | `x = x + y` |
| `x -= y` |  `x = x - y` |
| `x *= y` |  `x = x * y` |
| `x /= y` |  `x = x / y` |
| `x //= y` |  `x = x // y` |
| `x %= y` |  `x = x % y` |
| `x >>= y` |  `x = x >> y` |
| `x <<= y` | \ `x = x << y` |
| `x &= y` |  `x = x & y` |
| `x ^= y` |  `x = x ^ y` |
| `x \|= y` | `x = x \| y` |


### Operators in Python

(Previlege Low $\rightarrow$ High) 

| Operator | meaning |
| ---- | ---- |
| `lambda` | | 
| `if` `else` | | 
| Logical operators | | 
| Membership operators | |
| Equality operators | | 
| Bit operators | (Except `~x` ) |
| Arithmetic operators | (Except `+x`,  `-x`, and `x ** y`) |
| `+x`, `-x`, and `~x` | |
| `x ** y` | |
| `x`.attribute | reference of attribute | 
| `x[`index`]`, `x[`index`:`index`]` |  indexces of array |
| `x(`expression, ... `)` | Call of a function |
| 
|`(`expression, ... `)` <br> `[`expression, ... `]` <br> `[`key`:` value, ... `}` <br> `{`expression, ... `}` |  Tuple literal <br>  List literal <br>  Dictonary literal<br>  Set literal |

## Expression
* The expression can be evaluated and have a value.
* Examples:
 * literals: ```3```, ```[1, 2]```
 * Combination of operator and operand: ```-x```, ```x + y```, ```z = x + y```, ```x == y```
 * Function: ```sin(x)```

## Statement

* Statement expresses a procedure.
* Expression is also a statement.
* Examples of statement: ```if```, ```elif```, ```else```, ```break```, ```continue```,  and ```import``` statements.

## Control
### If
* Conditional execution. 

```
x = 3
if (x == 3):
  print('x is three.')
print("End of program.")
```

### else

```
x = 3
if (x == 3):
  print('x is three.')
else:
  print('x is not three.')
print("End of program.")
```

### elif

```
x = 3
if (x == 3):
  print('x is three.')
elif (x == 7):
  print('x is seven.')
else:
  print('x is not three or seven.')
print("End of program.")
```

### Nest

* Conditional sentences in a conditional sentence.
* Loop sentences in a loop sentence.

```
x = 3
y = 5
if (x == 3):
  if (y == 5):
    print('x is three and y is five.')
  else:
    print('x is three and y is not five.')
else:
  if (y == 9):
    print('x is not three and y is nine.')
  else:
    print('x is not three and y is not nine.')
  print('x is not three.')
print("End of program.")
```

In [ ]:
# Make a program: Use if sentence
x = 3
y = 5
if (x==3):
  print("x is three.")
print("End of program.")

x is three.
End of program.

In [ ]:
# Make a program: Use if and else sentence
x = 5
if (x==3):
  print("x is three.")
else: 
  print("x is not three.")
print("End of program.")

x is not three.
End of program.

In [ ]:
# Make a program: Use if, elif, and else sentence
x = 5
if (x == 3):
  print("x is three.")
elif (x == 5):
  print("x is five.")
else:
  print("x is neither three nor five.")
print("End of program.")

x is five.
End of program.

In [ ]:
# Make a program: Use nesting of if and else sentence
x = 3
y = 12
if (x == 3):
  if ( y == 8):
    print("x is three and y is eight.")
  else:
    print("x is three and y is not eight.")
else:
  if ( y == 8):
    print("x is not three and y is eight.")
  else:
    print ("x is not three and y is not eight.")
print("End of program.")

x is three and y is not eight.
End of program.

### for

* Loop sentence
* Range object : ```range(2, 6)``` is equivalent to ```(2, 3, 4, 5)```

```
sum = 0
for x in range(1, 11):
  print(x)
  sum += x
print(sum)
```

By using list.

```
sum = 0
for x in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
  print(x)
  sum += x
print(sum)
```

Try by changing tuple to 
* List: ```[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]``` and ```[2, 1, 3, 4, 5, 6, 7, 8, 9, 10]``` 
* Set: ```{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}``` and ```{2, 1, 3, 4, 5, 6, 7, 8, 9, 10}``` 
* Dictonary

```
dic = {1:"one one", 2:"two", 3:"surii"}
for key in dic:
  print(key)
  print(dic[key])
```

In [ ]:
# Make a program: sum from 1 to 10 using range
sum = 0
for x in range(1,11):
  sum += x
print(sum)

55

In [ ]:
# Make a program: Sum from 1 to 10 using tuple
sum = 0
for x in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
  sum += x
print(sum)

55

In [ ]:
# Make a program: Sum from 1 to 10 using list
sum = 0
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  sum += x
print(sum)

55

In [ ]:
# Make a program: Sum from 1 to 10 using set
sum = 0
for x in {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}:
  sum += x
print(sum)

55

In [ ]:
# Make a program: Use dictonary
sum = 0
dic = {1:"one one", 2:"two", 3:"surii",4:"four",5:"five",6:"six",}
for key in dic:
  print(key)
  print(dic[key])

1
one one
2
two
3
surii
4
four
5
five
6
six

### break,  continue, else

* `break` : Exit from loop.
* `continue` : Latter part of loop is skipped. 
* `else` : When the loop ended normally (not by `break`) the following block is executed. 

```
sum = 0
for x in range(1, 11):
  print(x)
  if (x == 5):
    break
  sum += x
print(sum)
```

```

sum = 0
for x in range(1, 11):
  print(x)
  if (x == 5):
    continue
  sum += x
print(sum)
```

```
sum = 0
for x in range(1, 11):
  print(x)
  if (x == 5):
    break
  sum += x
else:
  print("Else sentence")
print(sum)
```

```
sum = 0
for x in range(1, 11):
  print(x)
  if (x == 5):
    continue
  sum += x
else:
  print("Else sentence")
print(sum)
```

In [ ]:
# Make a program: Use break sentence
sum = 0
for x in range(1,11):
  sum += x
  if sum > 12:
    break
print(sum)

15

In [ ]:
# Make a program: Use continue sentence
sum = 0
for x in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10):
  sum += x
  if x == 8:
    continue
print(sum)

55

In [ ]:
# Make a program: Use break sentence and else sentence for for sentence
sum = 0
for x in range(1,11):
  sum += x
  if sum == 10:
    break
  else:
    continue
print(sum)

10

In [ ]:
# Make a program: Use continue sentence and else sentence for for sentence
sum = 0
for x in range(1,11):
  sum += x
  if sum >50:
    print("fifty") 
  else:
    continue 
  
print(sum)

fifty
55

### while
* When the condition is true, the following block is executed.

```
sum = 0
x = 1;
while x < 11:
  print(x)
  sum += x
  x += 1
print(sum)
```

In [ ]:
# Make a program: Use while sentence
sum = 0
x = 0
while x < 100:
  sum += x
  x += 1
print(x, sum)

100 4950

## Function

* When you have many same processes for various values, it is not good to describe them respectively.
* Define a function that describes the process.
* A function is defined by `def`.
* A function of python can return multiple values by using `return`.
* When a function is called, arguments specified by order or variables. 
* Example: 

```
def printxy(x, y):
    print("x = {0}, y = {1}".format(x, y))

printxy(2, 4)
printxy(y = 2, x = 4)
```

* Example:

```
# Return product
def prod(x, y):
    prodv = x * y
    return prodv
    
a = 10
b = 7
u = prod(a, b)
print("{0} x {1} = {2}".format(a, b, u))
```

* Example

```
# Euclidean algorithm
def euclid(x, y):
    u, v = x, y
    while(u != 0):
        u, v = (v % u), u
    else:
        lcd = v
        mcm = int(x * y / lcd)
    return lcd, mcm

x = 12
y = 9
a, b = euclid(x, y)
print("For {0} and {1}, LCD = {2}, MCM = {3}".format(x, y, a, b))
```

In [3]:
def printxy(x, y):
  print("x = {0}, y = {1}".format(x, y))

printxy(2, 4)
printxy(y = 2, x = 4)

x = 2, y = 4
x = 4, y = 2

In [4]:
# Make a program: Make and use a function that retruns product
def prod(x,y):
  product = x * y
  return product

def div(x,y):
  quot = x / y
  return quot

a = 5
b = 26
u = prod(a,b)
print("{0} x {1} = {2}". format(a, b, u))

5 x 26 = 130

In [8]:
# Make a program: Make a program of Euclidean algorithm
def euclid(x, y):
    u, v = x, y
    while(u != 0):
        u, v = (v % u), u
    else:
        lcd = v
        mcm = int(x * y / lcd)
    return lcd, mcm

x = input("Please enter a value for x:\n")
x = int(x)
y = input("Please enter a value for y:\n")
y = int(y)

a, b = euclid(x,y)

print("For {0} and {1}, LCD = {2}, MCM = {3}".format(x,y,a,b))

Please enter a value for x:
60
Please enter a value for y:
100
For 60 and 100, LCD = 20, MCM = 300

In [ ]:
# Pass by value or pass by reference for a function.
def valOrRef(x, y):
  x = 11
  y[1] = 12
  print("x and y[1] in a fuction are {0} and {1}".format(x, y[1]))
    
x = 1
y = [1, 2, 3]
print("x and y[1] at first are {0} and {1}".format(x, y[1]))
valOrRef(x, y)
print("x and y[1] after the function are {0} and {1}".format(x, y[1]))

x and y[1] at first are 1 and 2
x and y[1] in a fuction are 11 and 12
x and y[1] after the function are 1 and 12

## Objects

Discuss at the next class.

# Report

* For every class, students have to submit a report in 7 days after the lecture.
* The main file should be the nootbook format of ipython. Its file name should be ```[student number]Lec[day of class].ipynb```. (ex. ```18B54321Lec1.ipynb```)
* Markdown cells are allowed to describe the report.
* Supplementary files such as images for Class 4 are allowed. Their files should be like ```[student number]Lec[day of class]Sub[number].[extension]```. (ex. ```18B54321LecSub1.jpg```)
* Submit the file(s) in the corresponding page of T2SCHOLA (```https://t2schola.titech.ac.jp/course/view.php?id=9753```).

# Makedown

## A blank line (Sometimes two blank lines) is not necessary to separate blocks.
```
This is a apen.
This is a pencil.

This is a ballpoint.
```

This is a apen.
This is a pencil.

This is a ballpoint.

## `#` : For titles
``` 
## List
```

## List

* ```*``` : For list. (Indent can be used)
* ```1.``` : For list with a number. (Indent can be used)

```
* item 1
* item 2
  * item 2.1
* item 3
```

* list 1
* item 2
  * item 2.1
* list 3

```
1. Nlist 1
1. Nlist 2
  1. Nlist 2.1
  1. Nlist 2.2
1. Nlist 3 
```

1. Nlist 1
1. Nlist 2
  1. Nlist 2.1
  1. Nlist 2.2
1. Nlist 3 

## Preformatted text

## Code in a line

* \`sin(0.5)\` for preformatted text (in line)  as `sin(0.5)`.
* ```    ``` (4 spaces or tab) For preformatted text (block).
* Between two triple backquatos : For preformatted text in a line.

```
This is
  A
    B

    This is
      A
         B
```

This is
  A
    B

    This is
      A
         B

## Two spaces after a text : New line

```
This is
a pen

This is  
a pen
```
This is
a pen

This is  
a pen

## Equation: Between two `$` (in line) and `$$` (in next line)

```
This is $\frac{3}{4}$.
```
This is $\frac{3}{4}$.

```
We have 
$$
\frac{1}{2} + \frac{1}{3} = \frac{5}{6}.
$$
```
We have 
$$
\frac{1}{2} + \frac{1}{3} = \frac{5}{6}.
$$